.wrapper{
    width: 100%;
    position: absolute;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
}
.left{
    width:300px;
}

.right{
    width:500px;
    margin-left: 3rem;
    margin-top: 1rem;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.outerdiv{
    width:300px;
    margin-top: 1rem;
    display:flex;
    padding: 5px;
}

.icon{
    display: block;
    height:40px;
    width:40px;
    margin-right: 10px;
    object-fit: fill;
    border-radius: 5px;
}

.title{
    white-space: nowrap;
    margin-top: 10px;
}

.text{
    text-align: center;
    border: none;
    width: 500px;
}

.image{
    object-fit: cover;
    width: 500px;
    height:650px;
}

.active{
    background-color: #235aad;
    padding: 5px;
    border-radius: 5px;
    color: white;
}