.wrapper{
    width: 90%;
    position: absolute;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
}
.left{
    width:300px;
}

.right{
    width:500px;
    margin-left: 3rem;
    margin-top: 1rem;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label-container{
    width:300px;
    margin-top: 1rem;
    display:flex;
    padding: 5px;
    align-items: center;
}

.icon{
    display: block;
    height:35px;
    width:35px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 5px;
}

.label{
    white-space: nowrap;
    cursor: default;
}

.text{
    text-align: center;
    font-size:1rem;
    border: none;
    width: 500px;
}

.image{
    object-fit: cover;
    width: 500px;
    height:650px;
}

.active{
    background-color: #235aad;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.show{
    display: none;
}


.fibonacci{
    position:absolute;
    width: 100px;
    background-color: aquamarine;
    text-align: center;
    font-weight: bold;
    bottom: 0;
    left: 0;
}

@media screen and (max-width:870px){
    .image{
        width:300px;
        height:500px;
    }
    .text{
        width: 300px;
    }
    .right{
        width:300px;
        margin-left: 4rem;
    }
    .left{
        width: 250px;
        /* margin-right: 2rem; */
        /* margin-left: 2rem; */
    }
}

@media screen and (max-width:500px){
    .wrapper{
        width: 80%;
    }
    .image{
        width:300px;
        height:500px;
    }
    .text{
        width: 300px;
    }
    .right{
        width:300px;
    }
    .left{
        width: 250px;
    }
    
}
